.outer-wrapper-div {
    width: 100vw;
    height: 100vh;
    background-color: #212830;
}

.user-repos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
    width: 100%;
    padding-top: 30px;
}

.repo-div {
    width: 70%;
    height: 80%;
    padding: 10px;
    overflow-y: scroll;
}

.repo-div::-webkit-scrollbar {
    display: none;
}

#repo-search-input {
    width: 600px;
    height: 35px;
    border-radius: 5px;
    border: none;
    padding: 0px 10px;
    background-color: #212830;
    border: 1px solid #3D4550;
    color: #C9D1D9;
    margin-bottom: 25px;
}

#results-wrapper {
    width: 100%;
    min-height: 70vh;
}


#results-repo {
    width: 90%;
    min-height: 60px;
    border: 1px solid #D1D7E0;
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 15px;
}

.repo-link {
    text-decoration: none;
    color: #D1D7E0;
}

.repo-link:hover {
    text-decoration: underline;
    color: #478BE6;
}